/* *{
    border: 1px solid red;

}

html{
    background-color: var(--bgcolor);
} */

:root {

    /* COLORS */
    --maincolor: rgb(26, 101, 163);
    --maincolora: rgba(26, 101, 163, 0.9);
    
    
    --textcolor: white;
    --highlight: rgb(181, 228, 255);
    --emphasis: #35404a;

    --bgcolor: #0f283c;
    --bgcolora: #061e32b7;
    
    --sectioncolor: #0c1d2cd7;

    /* SIZES */

    --headerh:36px;

    --menuWidth: 300px;
    --menuTop: 20px;

    --maxcolw: 700px;
    --mincolw: 350px;
    
    --globalpadding: 20px;
    --corners: 8px;

    --textsize:1.1rem;

    scroll-behavior: smooth;

}

body{
    /* border: 1px solid greenyellow; */
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;

    color: var(--textcolor);
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--textsize);

    background:
    linear-gradient(var(--bgcolora) 100vw, var(--bgcolor) 145vw),
    url("ASSETS/prototype_background_01.jpg");

    background-color: var(--bgcolor);

    background-repeat: no-repeat;

    background-size: contain;

    
}




/* ----------------------------------------------------- */
/* HEADER */
/* ----------------------------------------------------- */




.header {
    top: 0;
    left: 0;

    box-sizing: border-box;

    /* border: 1px solid red; */
    background-color: var(--maincolor);

    height: var(--headerh);
    width: 100%;

    position: fixed;
    text-align: center;

    display: flex;

    
    z-index: 100;
}

.header #astrogate {
    /* border: 1px solid red; */
    box-sizing: border-box;

    font-weight: bold;

    text-align: left;
    padding: 5px 10px;
}

#astrogate a:link, a:visited {
    text-decoration: none;
    color: var(--textcolor);
}

#astrogate a:hover {
    color: var(--highlight);
}

.header #title {
    /* border: 1px solid orange; */
    /* border-bottom: 4px solid var(--bgcolora); */

    height: var(--headerh);
    width: var(--maxcolw);
    /* display: flex; */

    /* background-color: #943333; */

    text-align: left;

    box-sizing: border-box;


    z-index: 200;
}

#title .text {
    position: absolute;
    padding: 3.5px 30px;
}

#pageprogressbar {
    /* border: 1px solid red; */
    box-sizing: border-box;
    display: inline-block;
    height: 3px;
    width: 0%;
    background-color: var(--highlight);
    position: relative;
    bottom: calc(-50% + 1px);
    border-radius: 2px;
}




/* ----------------------------------------------------- */
/* SIDE MENU STYLE */
/* ----------------------------------------------------- */

    /* MENU BUTTON BEHAVIOR */

#menubutton {
    --size: var(--headerh);

    position:fixed;
    top: calc(var(--headerh) + 108px);
    translate: calc(var(--globalpadding)*-1 - var(--size));

    border: 0px;
    border-radius: var(--corners);

    width: var(--size);
    height: var(--size);

    background-color: #ffffff00;
    overflow: hidden;

    color: var(--textcolor);
    font-weight: bold;

    padding: 5px 5px;
    transition: 0.4s ease-in-out;
    /* transition-property: background-color, left, top, width, height, margin-top, border-radius; */
    transition-property: all;

    z-index: 200;
}

#menubutton.smallscreen {
    top: calc(var(--headerh) + var(--menuTop));
    translate: calc(var(--maxcolw) - var(--headerh));

}

#menubutton:hover {
    color: var(--highlight);
}

#menubutton::before {
    content: 'X';
    /* border: 1px solid yellow; */

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--corners);

    height: 100%;
    width: 100%;
    position: absolute;

    top: 0;
    left: 0;

    transition: left 0.4s;

}

#menubutton::after {
    content: '|||';
    rotate: 90deg;
    translate: 2px -1px;
    scale: 110% 140%;

    /* border: 1px solid yellow; */

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    position: absolute;


    top: 0;
    left: -100%;

    transition: left 0.4s;

}

#menubutton.closed {
    background-color: var(--maincolor);
}


#menubutton.closed::before {
    left: 100%;
}

#menubutton.closed::after {
    left: 0;
}

    /* MENU CONTENT */

#menu {
    /* border: 1px solid yellow; */
    position: fixed;
    top: calc(var(--headerh) + 108px);
    translate: calc(var(--menuWidth)*-1 - var(--globalpadding));
    opacity: 100%;

    scale: 100% 100%;
    
    height: 507px;
    width: var(--menuWidth);

    border-radius: var(--corners);
    
    background-color: var(--maincolora);
    /* backdrop-filter: blur(10px); */

    overflow: visible;
    transition: 
        opacity 0.3s ease-in-out,
        width 0.3s ease-in-out,
        top 0.3s ease-in-out,
        translate 0.3s ease-in-out,
        scale 0.3s ease-in-out;
        
    transform-origin: right;

    z-index: 100;
}

#menu.smallscreen {
    top: calc(var(--headerh) + var(--menuTop));
    translate: 0;
    width: var(--maxcolw);
    max-width: var(--maxcolw);
    min-width: var(--mincolw);

}

#menu.closed {
    background-color: #00000000;
    scale: 0% 100%;
    opacity: 100%;

    transition: 
        opacity 0.3s ease-in-out 0.2s,
        scale 0.3s ease-in-out 0.1s;
}

#menu .hide {
    opacity: 100%;
    translate: 0px 0px;
    transition: 
        opacity 0.2s ease-in-out 0.2s,
        translate 0.2s ease-in-out 0.2s;

}

#menu.closed .hide {
    opacity: 0%;
    translate: 0px 20px;
    transition: 
        opacity 0.2s ease-in-out,
        translate 0.2s ease-in-out;

}

#menu .header {
    position: absolute;
    display: flex;

    box-sizing: border-box;
    border-radius: var(--corners) var(--corners) 0px 0px;
    height: var(--headerh);
    padding-left: var(--globalpadding);
    background-color: var(--sectioncolor);

    align-items: center;
    color: var(--textcolor); 
    font-weight: bold;
}

.menucontent {
    color: var(--textcolor);
    margin-top: var(--headerh);
}

.menucontent ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.4;
}

.menucontent ul a:hover{
    /* border: 1px solid red; */
    color: var(--highlight);
}

.menucontent ul li {
    padding: 20px 0px 0px 20px;
    /* border-bottom: 1px solid #444; */
}

.menucontent ul li a {
    color: var(--textcolor);
    text-decoration: none;
}

.menucontent menu ul li ul li{
    margin: 0;
    padding: 20px 0px 0px 20px;
    list-style: none;
    display: block;
}




/* ----------------------------------------------------- */
/* STŘEDOVÝ SLOUPEC URČUJÍCÍ ŠÍŘKU OBSAHU */
/* ----------------------------------------------------- */




.main_content {
    /* border: 1px solid yellow; */
    max-width: var(--maxcolw);
    min-width: var(--mincolw);

    /* position: relative; */
    margin: calc(var(--headerh) + 40px) auto 0px auto;
}

.navigation {
    /* border: 1px solid pink; */
    display: flex;
    justify-content: end;
    justify-content: space-between;
    /* padding: var(--globalpadding); */
    margin-bottom: 40px;
    margin-top: 10px;
}

.navigation button {
    position:relative;
    border: 0px;
    border-radius: var(--corners);

    padding: 18px 10px;
    width: 180px;
    /* margin: 0px var(--globalpadding); */

    background-color: var(--maincolor);
    color: var(--textcolor);

    font-size: 18px;
    cursor: pointer;
}

.navigation .next::after {
    content: 'DÁLE  >';
}

.navigation .previous::after {
    content: '< ZPĚT';
}

.navigation button:hover {
    background-color: var(--highlight);
    color: var(--maincolor);
    transition: 0.2s;
}




/* ----------------------------------------------------- */
/* SEKCE */
/* ----------------------------------------------------- */




.whiteboard_title {
    /* border: 1px solid greenyellow; */
    color: var(--highlight);
    font-size: 18px;
    margin-bottom: -10px;
    margin-left: 30px;
    margin-right: 20px;

    position:sticky;

}

.whiteboard{
    height: auto;
    background-color: var(--sectioncolor);
    /* backdrop-filter: blur(10px); */
    padding: 20px 20px 30px 20px;
    border-radius: var(--corners);
    
    box-sizing: border-box;
    
    margin-bottom: 40px;
    
    font-size: var(--textsize);
    line-height: 1.8;
    color: var(--textcolor);
}

.whiteboard p{
    margin: 0 0 10px 0;
}

.whiteboard b{
    background-color: var(--emphasis);
    display: inline;
    color: var(--highlight);
    box-sizing: border-box;
    font-weight: normal;
    padding: 5px 6px;
    border-radius: 6px;
}

.keywords{
    margin-bottom: 25px;
    line-height: 2.35 !important;
}

.keywords span {
    padding: 5px 10px;
    background-color: var(--maincolor);
    border-radius: var(--corners);
}

.recom_knowledge{
    display: flex;
    width: 100%;
    
    margin-bottom: 20px;
}

.recom_knowledge_title{
    width: 30%;

    font-weight: bold;
    text-align: right;
    padding-right: 20px;

    color: var(--highlight);
}

.whiteboard img{
    width: 100%;
    display: block;

    box-sizing: border-box;

    border-radius: var(--corners);

    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.whiteboard figure {
    width: 100%;
    margin: 0;
    padding: 0;
}

.definice{
    width: 97%;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

.arrow-up {
    float:right;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent; 
    border-bottom: 10px solid rgb(143, 143, 143);
    display: inline-block;

    border: 0px;
}

.arrow-up:hover{
    border-bottom: 10px solid blue;
}

.arrow-down {
    float: right;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(143, 143, 143);
    display: inline-block;
    margin-right: 10px;

    border: 0px;

}

.arrow-down:hover{
    border-top: 10px solid red;
}

.whiteboard_title h2{
    display: inline-block;
}


.bookmark1, .bookmark2,.bookmark3,.bookmark4,.bookmark5,.bookmark6,.bookmark7,.bookmark8,.bookmark9,.bookmark10,.bookmark11,.bookmark12,.bookmark13,.bookmark14{
    float: right;
    margin-right: 10%;
    scale: 150%;
    opacity: 0;
}

.bookmark1:hover,.bookmark2:hover,.bookmark3:hover,.bookmark4:hover,.bookmark5:hover,.bookmark6:hover,.bookmark7:hover,.bookmark8:hover,.bookmark9:hover,.bookmark10:hover,.bookmark11:hover,.bookmark12:hover,.bookmark13:hover,.bookmark14:hover{
    opacity: 0;
}

.active{
    opacity: 0;
}


figcaption {
    padding: 5px;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    color: rgb(143, 143, 143);
  }

details{
    color: rgb(143, 143, 143);
}

details summary{
    font-weight: bold;
}

details summary:hover, summary:active {
    color: white;
}


.pagefooter{
    /* border: 1px solid rgb(255, 23, 23); */
    height: auto;
    background: white;
    border-radius: var(--corners) var(--corners) 0px 0px;
    text-align: center;
    padding: 0px 0px 20px 0px;

    font-size: 12px;
    color: rgb(143, 143, 143);
}

.pagefooter img{
    /* border: 1px solid rgb(250, 114, 218); */
    height: 50px;
    margin: 30px 15px;
}


.math_symb{
    font-style: italic;
}


/*scroll bar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: var(--bgcolor);
    width: 5px;
    /* border-radius: 10px; */
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--highlight);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: white;
  }

  .ol_num li{
    list-style-type:decimal;
    margin: 2% 3%;
  }


.mathsymb {
    font-weight: bold;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}


.accordion {
    background-color: #ddd;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width:  35%;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border: none;

    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .accordion:active, .accordion:hover {
    background-color: #ccc; 
    box-shadow: -1px 0 10px #000000;
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: var(--bgcolor);
    border-radius: var(--corners);
    overflow: scroll;
  }




/* ----------------------------------------------------- */ 
/* TESTOVANI ODPOVEDI */
/* ----------------------------------------------------- */




.whiteboard.test {
    background-color: #3c4f5cbd;
}

.whiteboard.test .question {
    font-weight: bold;
    font-size: 1.1em;
    color: var(--highlight);
}

.whiteboard.test p {
    text-indent: -30px;
    padding-left: 30px;
    margin-bottom: 20px;
}

.whiteboard.test label:checked {
    color: var(--highlight);
}

input[type="radio"] {
    appearance: none;
    font: inherit;
    color: var(--maincolor);
    transform: translateY(-25%);

    width: 20px;
    height: 20px;
    border: 0.2em solid currentColor;
    border-radius: var(--corners);
    box-sizing: border-box;
}

input[type="radio"]::before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    position: relative;
    left: 0.142em;
    top: 0.1em;

    background-color: var(--highlight);
    border-radius: var(--corners);

    transform: scale(0);
    display: grid;
    /* box-shadow: inset 1em 1em teal; */
}

input[type="radio"]:hover {
    border-color: white;
}

input[type="radio"]:checked {
    border-color: var(--highlight);
}

input[type="radio"]:checked::before {
    transform: scale(1);
    transition: 60ms transform ease-out;
}

input[type="submit"] {
    background-color: var(--maincolor);
    color: var(--textcolor);
    cursor: pointer;
    padding: 18px;
    width: 220px;
    text-align: center;
    outline: none;
    font-size: 18px;
    border: none;

    border-radius: var(--corners);
    margin-bottom: 10px;
   }

input[type="submit"]:hover{
    background-color: var(--highlight); 
}

.inter_fig{
    display: flex;
    justify-content: center;
 }

.popisek_k_interaktivni_ilustraci li{
    list-style-type: circle;
    margin-bottom: 15px;
}

.popisek_k_interaktivni_ilustraci ul{
    padding-left: 15px;
}




/* ----------------------------------------------------- */ 
/* INDEX - UVODNI STRANKA STYLE */
/* ----------------------------------------------------- */

@keyframes moveleft { 100%{opacity: 1;
    transform: translatex(0px)}};

.anim_horizontal{
    opacity: 0;
    transform: translateX(30px);
    animation: moveleft 1s ease-out forwards; /*1s*/
}

.anim_vertical{
    opacity: 0;
    transform: translateY(30px);
    animation: moveleft 1s ease-out forwards; /*1s*/
}





.landingbody{
    /* border: 1px solid yellow !important; */
    height: 100vh;
    overflow: hidden;
    text-align: center;
    
    background-size: cover !important;
    background:
    linear-gradient(#00000058 0vh, var(--bgcolor) 100vh),
    url("ASSETS/landing_background02.jpg");
}

.LandingTitle1{
    text-align: center;
    color: var(--textcolor);
    font-size: 4rem;

    margin-top: 40%;
}

.LandingTitle2{
    text-align: center;
    color: var(--highlight);
    font-size: var(--textsize);

    animation-delay: 0.4s; /* 0.2s */
}

.landingbody button{
    /* width: 150px; */
    position: relative;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;

    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--textsize);
    color: var(--textcolor);

    border-radius: var(--corners);
    border: var(--maincolor);
    background-color: var(--maincolor);

    outline: none;
    cursor: pointer;
    overflow: hidden;

    z-index: 0;
    animation-delay: 0.6s; /*0.4s*/
}

.landingbody button span {
    position: absolute;
    height: 100%;
    width: 0;
    left: 0;
    bottom: 0;

    background: var(--highlight);
    border-radius: var(--corners);

    z-index: -1;
    transition: 0.2s;
}

.landingbody button:hover {
    color: var(--maincolor);
}

.landingbody button:hover span{
    width: 100%;
    transition: 0.2s;
}

.landingbody a{
    color:var(--textcolor);
}

.background-color{
    background: white;
    margin-left: auto; 
    margin-right: auto; 

    display: block;
    min-width: 350px;
    max-width: 700px;
    padding-bottom: 10px; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    border-radius: var(--corners);
    animation-delay: 0.8s;
}

.logo {
    /* border: 1px solid red; */
    text-align: center;
}

a img{
    height: 50px;
    margin: 30px;
}

footer{
   text-align: center;
   color:rgb(143, 143, 143);
   margin-bottom: 5px;
   font-size: 12px;
}


    







