*{
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    background: transparent;
}



.main_menu{
    padding-left: 10%;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: 30px;

}

.main_menu, .main_menu h2 {
    font-size: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
    color: rgb(36, 93, 163);
}

.main_menu li{
    margin: 6px 0;
}

.obsah{
  font-size: 18px;
  margin-bottom: 15px;
  color: rgb(36, 93, 163);
  margin-top: -9px;
}

.main_menu a {
    color: rgb(36, 93, 163);
}

body{
    direction: rtl
}

/*scroll bar*/
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255,255,255); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(207, 207, 207); 
  }




/* 
body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;  IE and Edge 
    scrollbar-width: none;  /* Firefox 
  }
*/